In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('foxa1_data/foxa1_archR_Umap.txt', sep = 'I#|\t')
#df = pd.read_csv('foxa1_data/foxa1_archR_Umap.txt')

C:\Users\Jackfruit_YH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [27]:
df.columns = ['name', 'UMAP1', 'UMAP2']

In [29]:
dfEV = df[df['name'].str[:2] == 'EV']

In [38]:
dfEV.head()

                                 name     UMAP1     UMAP2
16672  EV_multiome#GCATGAGCAGGAAGCC-1 -1.342306  4.667558
16673  EV_multiome#AGTGATGAGGAATAAC-1  1.138677  6.721967
16674  EV_multiome#CCGCTAGCACCTACGG-1  0.634265  6.244955
16675  EV_multiome#CTAAGGTTCAGGCCTA-1  1.263311  6.458389
16676  EV_multiome#TATGGTCAGCTTTGTT-1 -0.013603  5.401086

In [47]:
dfEV = dfEV[['UMAP1', 'UMAP2']]
dfEV.head()

          UMAP1     UMAP2
16672 -1.342306  4.667558
16673  1.138677  6.721967
16674  0.634265  6.244955
16675  1.263311  6.458389
16676 -0.013603  5.401086

In [48]:
dfEV.to_csv('foxa1_data/ev_data/EV_archR_UMAP.tsv', sep = '\t')